<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Login</title>

    <link th:replace="~{fragments :: user-styles}" />
    <link th:replace="~{fragments :: styles}" />

</head>
<body>
<nav th:replace="~{fragments :: user-nav}"></nav>
<div id="login-container">
    <h1>Reset Password</h1>
    <p>Please enter the email address associated with your account.</p>
    <form method="post">
        <div class="form-group">
            <label th:for="emailAddress">Email Address: </label>
            <input th:field="${forgotPasswordFormDTO.emailAddress}" />
            <p th:errors="${forgotPasswordFormDTO.emailAddress}" class="error-class"></p>
        </div>

        <div class="form-group">
            <input type="submit" value="Send Password Reset Email" />
        </div>
    </form>
    <p>Don't have an account? <a href="./sign-up">Sign Up!</a></p>
</div>

</body>
</html>