<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>

    <link th:replace="~{fragments :: user-styles}" />
    <link th:replace="~{fragments :: styles}" />

    <script src="/script.js"></script>
</head>
<body>
    <nav th:replace="~{fragments :: user-nav}"></nav>
    <div th:replace="~{fragments :: user-menu}"></div>

    <div>
        <h1>Your Profile</h1>
        <h2>Account Information</h2>
        <p>Username: <span th:text="${username}">Username not available.</span></p>
        <p>User ID: <span th:text="${userId}">0 - Something is wrong...</span></p>
        <p>Account Status: <span th:text="${allGroupMemberships}">User Group memberships not found.</span></p>
        <p th:if="${userNeedsToVerifyEmail}">Your email address is still unverified, please check your inbox for an email containing a link to complete your verification.</p>
    </div>

    <div>
        <h2>Public Profile Information</h2>
        <p>Username: <span th:text="${username}"></span></p>
        <p>First Name: <span th:text="${firstName}"></span></p>
        <p>Last Name: <span th:text="${lastName}"></span></p>
        <p>Location: <span th:text="${location}"></span></p>
        <p>About Me: <span th:text="${aboutMe}"></span></p>
        <a th:href="@{/user/profile/edit}">Edit My Profile</a>
    </div>

    <h2>Authored Tours</h2>
</body>
</html>